/* Input Radio */

.radio-wrapper {
  border-radius: 1.6rem;
  border: .1rem solid rgba(255, 255, 255, .1);
  background-color: var(--bg-color);
  padding: 2.4rem;
  display: flex;
  align-items: center;
  gap: 1.6rem;
  transition: all .2s ease-in-out;
  cursor: default;
}

.radio-wrapper + .radio-wrapper {
  margin-top: 1.6rem;
}

.radio-wrapper div {
  width: 90%;
  display: flex;
  flex-direction: column;
  gap: .8rem;
  line-height: 130%;
}

.radio-wrapper input[type="radio"] {
  appearance: none;
  border: .1rem solid white;
  width: 2.4rem;
  height: 2.4rem;
  border-radius: 50%;
  cursor: pointer;
}

.radio-wrapper input[type="radio"]:checked {
  background-image: radial-gradient(white 35%, black 35%);
  cursor: default;
}

.radio-wrapper:not(:has(:checked)) {
  opacity: .5;
}

.radio-wrapper label {
  font-size: 1.6rem;
  font-weight: 700;
}